In [134]:
import pandas as pd
import numpy as np

In [135]:
data = pd.read_csv("Salesperson.csv", index_col=0)

In [136]:
data.index.name=""

In [137]:
data = data * 1000
data.head()

   Old Scheme  New Scheme

1       57000       62000
2      103000      122000
3       59000       54000
4       75000       82000
5       84000       84000

# Find the mean of old scheme and new scheme column

In [138]:
data.mean()

Old Scheme    68033.333333
New Scheme    72033.333333
dtype: float64

# Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?#

In [141]:
from scipy.stats import ttest_rel, ttest_1samp

In [142]:
# we will consider the one tail test only. Because it is mentioned for raised outputs.
t_statistic, p_value = ttest_1samp(data["New Scheme"]-data["Old Scheme"],0)

# What conclusion does the test (p-value) lead to

In [143]:
p_val = p_value / 2 #we are checking for raised outputs so one tail test that's why we are dividing the p_value by 2.
print(p_val)

0.06528776980668831

Null Hypothesis: Mean(Old) = Mean(New)

Alternate Hypothesis: Mean(New) > Mean(Old)

p_val > 0.05 so we can not reject the null hypothesis so we are accepting the null Hypothesis.
It means new scheme has not significantly raised the outputs.

# Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

# The probability of a type 1 error?

Probabiltiy of type 1 error = 0.05 or 5%

# What is the p- value of the hypothesis test if we test for a difference of $5000?

mean = mean(new) - mean(old)

Null Hypthesis: mean <= 5000

Alternate Hypothesis: mean > 5000

In [152]:
t_statistic, p_value = ttest_1samp(data["New Scheme"]-data["Old Scheme"], 5000)

In [153]:
p_value/2 #p value > 0.05 we can not reject the null hypothesis.

0.3500667456306643

# Power of the test

In [154]:
import statsmodels.stats.power as smp

In [155]:
(np.mean(data["New Scheme"]) - np.mean(data["Old Scheme"]))/np.sqrt(((30-1)*np.var(data["Old Scheme"]) + (30-1)*np.var(data["New Scheme"]))/ 30+30-2)

0.13102028811290184

In [156]:
smp.ttest_power(0.13, nobs=20, alpha=0.05)

0.08564225917485528