In [74]:
import pandas as pd

# Question 1 
Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data

In [75]:
data = pd.read_csv("Laliga.csv")

In [76]:
data.replace("-",0,inplace=True)

# Question 2
Print all the teams which have started playing between 1930-1980

In [77]:
debut = pd.to_numeric(data['Debut'].str.split("-").str[0])

In [78]:
indexes=debut[debut.between(1930,1980, inclusive=True)].index

In [79]:
data.iloc[indexes]['Team']

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

# Question 3
Print the list of teams which came Top 5 in terms of points

In [85]:
data['Points'] = pd.to_numeric(data['Points'])

In [87]:
data.nlargest(5, 'Points')['Team']

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

# Question 4
Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences.

In [147]:
def Goal_diff_count() :
    result = []
    for index, row in data.iterrows():
        result.append((row['Team'], (pd.to_numeric(row['GoalsFor']) - pd.to_numeric(row['GoalsAgainst']))))
    return result

In [148]:
result = Goal_diff_count()

In [151]:
maximum = result[0]
minimum = result[0]

In [153]:
for item in result:
    if (item[1] > maximum[1]):
        maximum = item
    if (item[1] < minimum[1]):
        minimum = item
print("Maximum Difference Team : %s, Goal Diff: %d" %(maximum[0], maximum[1]))
print("Minimum Difference Team : %s, Goal Diff: %d" %(minimum[0], minimum[1]))

Maximum Difference Team : Real Madrid, Goal Diff: 2807
Minimum Difference Team : Racing Santander, Goal Diff: -525

# Question 5

In [154]:
data.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [156]:
data['Winning Percent'] = (pd.to_numeric(data['GamesWon']) / pd.to_numeric(data['GamesPlayed'])) * 100

In [159]:
data.nlargest(5, 'Winning Percent')['Team']

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

# Question 6

In [175]:
data.groupby(['BestPosition']).sum().iloc[:,2]

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64